# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
x64/
x86/
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# SFML DLLs copied locally
*.dll

# Object / binary files
*.obj
*.exe
*.pdb
*.ilk

# Logs / temp
*.log
*.tmp